<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://www.google.com/recaptcha/api.js?render=<%= recaptchaSiteKey %>"></script>
  </head>
  <body>
    <div class="container">
      <h1>Sign In</h1>
      <form id="signin-form" action="/api/v1/signin" method="POST">
        <input type="email" name="email" placeholder="Email" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required />
        <input
          type="hidden"
          id="g-recaptcha-response"
          name="g-recaptcha-response" />
        <button type="submit">Sign In</button>
      </form>
      <p>Don't have an account? <a href="/auth/signup">Sign Up</a></p>
      <p><a href="/auth/forgot-password">Forgot Password?</a></p>
      <div class="google-btn" id="google-signin-btn">
        <div class="google-icon-wrapper">
          <div class="google-icon"></div>
        </div>
        <p class="btn-text"><b>Sign in with Google</b></p>
      </div>
      <script nonce="<%= nonce %>">
        grecaptcha.ready(function () {
          document
            .getElementById("signin-form")
            .addEventListener("submit", function (event) {
              event.preventDefault();
              grecaptcha
                .execute("<%= recaptchaSiteKey %>", { action: "signin" })
                .then(function (token) {
                  document.getElementById("g-recaptcha-response").value = token;
                  document.getElementById("signin-form").submit();
                });
            });
        });
      </script>
      <script src="/js/main.js"></script>
    </div>
  </body>
</html>
